.sliderMain {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.sliderContainer {
  transition: all 1s ease;
 
  white-space: nowrap;
}

.slider {
  display: inline-block;
}

.slider img {
  height: auto;
  width: 100%;
}


.arrow {
  transition: .2s ease;
  cursor: pointer;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  margin: 0;
  padding: 0;
  opacity: .7;
}

.arrow:hover {
  opacity: 1;
  color: #4cb2da;
}

.leftArrow {
  left: 3%;
}

.rightArrow {
  right: 3%;
}

